.admin-dashboard,.employee-dashboard
{
    text-decoration:none;
}

.admin-dashboard:hover,.employee-dashboard:hover
{
    color:orange !important;
    text-decoration:underline;
}

.main-container-sidebar
{
    position: sticky !important;
    top:0px !important;
    
}
